.card{
    background: seashell;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.img{
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.foto{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.shop{
    background: rgb(173, 227, 235);
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;

}

.goods_store{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 1fr;
    margin-top: 50px;
}

h1{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: yellow;
}

.brend{
    margin-top: 30px;
    margin: 0 auto;
}

.podr{
    margin: 0 auto;
}